@model IEnumerable<DSKviz.Models.QuizViewModel>

@{
    ViewBag.Title = "AvailableQuizes";
}

<h2>AvailableQuizes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            
        </td>
        <td>
            @Html.ActionLink("Odaberi kviz", "ChosenQuiz", new { id = item.ID })
        </td>
    </tr>
}

</table>
